{% extends 'base.html.twig' %}

{% block title %}Ajout d'un livre{% endblock %}

{% block body %}
<section class="container px-4">
    <div class="w-50 m-auto">
      
            <h1>Ajout d'un livre dans la base de données</h1>
            
            {{ form_start(form) }}
            {{ form_row(form.title, {label: 'Titre du livre'}) }}
            {{ form_row(form.isbn, {label: 'N° ISBN'}) }}
            {{ form_row(form.cover, {label: 'Couverture (lien URL)'})}}
            {{ form_row(form.editedAt, {label: 'Date d\'édition'})}}
            {{ form_row(form.plot, {label: 'Résumer'})}}
            {{ form_row(form.pageNumber, {label: 'Nombre de pages'})}}
            {{ form_row(form.status, {label: 'Status'})}}
            {{ form_row(form.editor, {label: 'Editeur'})}}
            {{ form_row(form.author, {label: 'Auteur'})}}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-outline-primary mt-3">Envoyer</button>
            <a href="{{ path('app_main') }}" class="btn btn-outline-secondary mt-3">
            <i class="bi bi-arrow-left"></i> Retour
            </a>
            {{ form_end(form) }}
        
    </div>
</section>
{% endblock %}