{% extends 'base.html.twig' %}

{% block title %}Détail d'un livre{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
    {# A effacer quand le site est fini, c'est moche #}
    <h1>Livre : </h1>
         {% if book is not null %}
        <div class="card mb-1 m-auto">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h4 class="mb-1">{{ book.title }}</h4>
                    <small class="text-muted">Identifiant : {{ book.id }}</small>
                </div>
                <div class="d-flex justify-content-between card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Numéro ISBN : {{ book.isbn }}</li>
                        <li class="list-group-item">Date d'édition : {{ book.editedAt is not null ? book.editedAt|date('d M Y') : '-' }}</li>
                        <li class="list-group-item">Résumer : {{ book.plot }}</li>
                        <li class="list-group-item">Nb de pages : {{ book.pageNumber }}</li>
                        <li class="list-group-item">Status : {{ book.status is not null ? book.status.value : 'Non défini' }}</li>
                        <li class="list-group-item">
                             <h5>Éditeur : </h5>
                            <a href="{{ path('app_admin_editor_show', {id: book.editor.id}) }}">{{ book.editor.name }}</a>
                        </li>
                        <li class="list-group-item">
                            <h5>Auteur : </h5>
                            <ul class="list-group list-group-flush">
                                {% for author in book.author %}
                                    <li class="list-group-item">
                                        <a href="{{ path('app_admin_author_show', {id: author.id}) }}">{{ author.name }}</a>
                                    </li>
                                {% else %}
                                    <li class="list-group-item">Livre inconnu</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div>Auteur non trouvé</div>
    {% endif %}
     <a href="{{ path('app_admin_book_index') }}" class="btn btn-primary">Retour</a>

     {# <a href="{{ path('app_admin_book_edit', {id: book.id}) }}" class="btn btn-warning">Editer</a> #}
    </div>

   
{% endblock %}